{% extends "layout.html" %}

{% block body %}
<div class="container-fluid" style="margin-top: 100px">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <br><br>
            <h2>Register</h2>
           <form action="{{ url_for('auth.register') }}" method="POST" name="register_user_form" id="login-form">
                  <div class="">
                        <label><b>Email</b></label>
                        <input class="form-control" id="email" name="email" type="text" value=""><br/>

                        <label><b>Password</b></label>
                         <input class="form-control" id="password" name="password" type="password" value="">

                            <label for="password_confirm">Retype Password</label>
                            <input class="form-control" id="password_confirm" name="password_confirm" type="password" value="">
                         <div class="help-block with-errors"></div>
                        {% if error %}
                            <div class="alert alert-danger">
                              {{ error }}
                            </div>
                        {% endif %}
                        <div align="right">
                            <button type="submit" class="">Register</button>
                            <br><br><br>
                        </div>
                  </div>
            </form>

        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}