{% extends 'layout.html' %} {% block body %}

    <div class="container">
	<div class="row">

        <div class="col-md-12">
            <div class="page-header">
                <h1>Šta je Glasomer?</h1>
            </div>
        <p style="color: #0a0a0a;">
            Glasomer pomaže građanima da uporede svoje političke stavove sa stavovima

            političkih stranaka koje se takmiče na izborima. Pitanja su u vezi sa aktuelnim

            temama iz ekonomije, politike, društva, obrazovanja, zdravstvene i socijalne

            zaštite, itd.
        </p>
        <p style="color: #0a0a0a;">
            Na pitanja imate mogućnost da odgovorite sa “SLAŽEM SE“, "NE SLAŽEM SE" ili

            "NEMAM STAV“.
        </p>
        <p style="color: #0a0a0a;">
            Takođe, za svako pitanje izbaberite i koliko Vam je važno.
        </p>
        <p style="color: #0a0a0a;">
            Na kraju upitnika, kao rezultat, dobićete informaciju koje tri stranke su najbliže

            Vašim političkim stavovima. Političke stranke su odgovarale na istovetan način i

            ostavljena im je mogućnost da svaki odgovor dodatno obrazlože. Moći ćete i da

            uporedite Vaše odgovore sa odgovorima svih stranaka i utvrdite sličnosti i

            razlike.
        </p>
        <p style="color: #0a0a0a;">
            Možete da preskočite pitanje na koje ne želite da odgovorite, ali će rezultat biti

            precizniji ukoliko odgovorite na što više pitanja. Vaši odgovori su samo Vaši.

            Glasomer ne čuva Vaše odgovore i rezultat je poznat samo Vama, a ukoliko želite

            da podelite rezultat sa Vašim prijateljima na Facebooku ili Twitteru, imate i tu

            mogućnost.
        </p>
          <p style="color: #0a0a0a;">
            Pitanja smo poslali na adrese svih stranaka koje su se kandidovale na vanrednim parlamentarnim

            izborima 24. aprila 2016. godine. Odgovore smo do sad dobili od njih jedanaest – (Demokratske

            stranke, Demokratske stranke Srbije, Dosta je bilo, Liberalno demokratske partije, Nove stranke,

            Saveza vojvođanskih Mađara, Srpske radikalne stranke, Socijaldemokratske stranke, Levice Srbije,

            Pokreta Dveri I Srpskog sabora Zavetnici). Zahvaljujemo se strankama koje su se odazvale na poziv

            Glasomera, a sa žaljenjem konstatujemo da su ostale stranke propustile da se i na ovaj način

            predstave potencijalnim biračima i upoznaju građane sa svojim stavovima o važnim i aktuelnim

            temama. Ukoliko dobijemo naknadne odgovore partija, uvrstićemo ih odmah u Glasomer.
          </p>
        <p style="color: #0a0a0a;">
            Da se ne lažemo!
        </p>
        <p style="color: #0a0a0a;">
            Vaš tim Istinomera
        </p>

        </div>

	</div>
    </div>
{% endblock %}
