{% extends 'layout.html' %} {% block body %}
    <style>
         #wheel-tab {
             display: none;
         }
    .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.page-header{
    margin-top:0px;
}
         .social-icons ul {
            list-style: none;
            width: 200px;
        }
        .pagination_nr{
            font-weight: 700;
            font-size:20px;
            color:#337ab7;
        }
        .page-header h1{
            text-transform: uppercase;
            color:#1A3966;
            font-weight: 700;
        }
        .panel-title{
            color:#1A3966;
        }
        .importance-question-labels p{
            color:#337ab7;
        }
        .next-back{
            text-transform: uppercase;
        }
    .show-sub-table1, .show-sub-table{
        cursor: pointer;
    }
    .top-links-modal{
        width:100%;
        text-transform: uppercase;
        font-size:15px;
        font-weight: 700;
        color:#337ab7;
    }
    .top-links-modal:hover{
        background:#337ab7;
        color:white;
        border:0px !important;
    }
    #back-start{
        float:right;
        text-transform: uppercase;
        font-weight: 700;
        color:#337ab7;
    }
    #wheel-right, #wheel-left{
        font-weight: 700;
    }
    .btn-default:hover{
        border:none;
    }
    .modal-title{
        text-transform: uppercase;
        font-weight: bold;
    }
    .next-back{
        font-size: 30px;
    }
    .color-next{
        background: #337ab7;
        color:white;
    }

     .nav-tabs>li.color-next>a:hover{
        background: #337ab7;
        color:white;
    }
     .nav-tabs>li.color-next>a:active{
        background: #337ab7;
        color:white;
    }
      .nav-tabs>li.color-next>a:focus{
        background: #337ab7;
        color:white;
    }
     .color-next i {
         color:white;
     }

    </style>
    <div class="container">
	<div class="row">

        <div class="col-md-12">
            <div class="page-header">
                <h1>Šta je Glasomer?</h1>
            </div>
        <p style="color: #0a0a0a;">
          Glasomer pomaže građanima da uporede svoje političke stavove sa stavovima predsedničkih kandidata koji se takmiče na izborima. Pitanja su u vezi sa aktuelnim temama iz spoljne i unutrašnje politike, evropskih integracija, odnosa sa susedima, društva, obrazovanja, ekologije itd.
        </p>
        <p style="color: #0a0a0a;">
        Na pitanja imate mogućnost da odgovorite sa “SLAŽEM SE“, "NE SLAŽEM SE" ili "NEMAM STAV“.
        </p>
        <p style="color: #0a0a0a;">
         Takođe, za svako pitanje izbaberite i koliko Vam je važno.
        </p>
        <p style="color: #0a0a0a;">
     Na kraju upitnika, kao rezultat, dobićete informaciju koja tri kandidata su najbliža Vašim političkim stavovima. Kandidati su odgovarali na istovetan način i ostavljena im je mogućnost da svaki odgovor dodatno obrazlože. Moći ćete i da uporedite Vaše odgovore sa odgovorima svih kandidata i utvrdite sličnosti i razlike.
        </p>
        <p style="color: #0a0a0a;">
            Možete da preskočite pitanje na koje ne želite da odgovorite, ali će rezultat biti precizniji ukoliko odgovorite na što više pitanja. Vaši odgovori su samo Vaši. Glasomer ne čuva Vaše odgovore i rezultat je poznat samo Vama, a ukoliko želite da podelite rezultat sa Vašim prijateljima na Facebooku ili Twitteru, imate i tu mogućnost.
        </p>
          <p style="color: #0a0a0a;">
           Pitanja smo poslali na adrese svih izbornih kandidata koji učestvuju na predsedničkim izborima 2017. godine. Na upitnik je do sada odgovorilo šest kandidata – (Miroslav Parović, Saša Radulović, Boško Obradović, Aleksandar Popović, Milan Stamatović, Nenad Čanak). Zahvaljujemo se izbornim štabovima predsedničkih kandidata koji su se odazvali na poziv Glasomera, a sa žaljenjem konstatujemo da su ostali kandidati propustili da se i na ovaj način predstave potencijalnim biračima i upoznaju građane sa svojim stavovima o važnim i aktuelnim temama. Ukoliko dobijemo naknadne odgovore kandidata, uvrstićemo ih odmah u Glasomer.
          </p>
        <p style="color: #0a0a0a;">
            Da se ne lažemo!
        </p>
        <p style="color: #0a0a0a;">
            Vaš tim Istinomera
        </p>

        </div>

	</div>
    </div>
{% endblock %}
