{% extends 'layout_admin.html' %}
{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" style="margin-top:100px">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2>Manage Text for Sta je Glasomer</h2>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success">
                                        <strong>Success! </strong> {{ message.decode('utf-8') }}.
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <!-- /.row -->
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form id="save_glasomer_text" name="save_glasomer_text" method="POST" enctype="multipart/form-data"
                          action="{{ url_for('admin.save_glasomer_text') }}">
                    <textarea name="editor1" id="editor1" cols="80">
                        {% for text in  glasomer_text %}
                            {{ text['glasomer_text'] }}
                        {% endfor %}
                    </textarea>
                        <div class="col-md-6">
                            <input type="submit" value="Save changes" name="save_glasomer" class="btn btn-primary" id="" style="margin-top:20px;width:100%">
                        </div>
                        <script>
                            CKEDITOR.replace('editor1');
                        </script>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

{% endblock %}
